body
{
	background-color:#000000;
	color:lightgray;
	font-size:28px;
	font-family: 'Inconsolata', monospace;
/*    text-align:center;*/

}
#container
{
	width:950px;
	margin-left:auto;
	margin-right:auto;
    
}
#board
{
	width:900px;
	margin-top:50px;
	margin-bottom:50px;
	text-align:center;
	font-size:48px;
	min-height:60px;
}
#tree
{
	float:left;
	width:450px;
	text-align:center;
	min-height:280px;	
	margin-right:50px;
}
#alfabet{
	float:left;
	width:450px;
	text-align:center;
	min-height:280px;
	
	
}
.letter
{
	width:30px;
	height:30px;
	text-align:center;
	padding:5px;
	margin:5px;
	border:3px solid gray;
	float:left;
	cursor:poiner;
	border-radius:15px;
		
}
.letter:hover
{
	background-color:#222222;
	color:white;
	border:3px solid white;
}
.reset
{
		color:#31c4a8;
		cursor:pointer;
		font-size:48px;
}
.reset:hover
{
	color:white;
}